@import "styles.css";

*{
  margin: 0px;padding: 0px;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;

  /* Remove Mobile Tap Highlight */
  -webkit-tap-highlight-color: transparent;

  /* Remove Default Scroll Bar */
  -ms-overflow-style: none;
  scrollbar-width: none;

}

/* Remove Default Scroll Bar */
*::-webkit-scrollbar{
  display: none;

}

/* Back To Works Anchor START */
.backToWorks{
  color: white;
  font-size: 3em;
  font-family: VarelaRound;
  text-transform: uppercase;
}

.backToWorks:hover{
  /* text-decoration: underline; */
}
/* Back To Works Anchor END */


/***************** Fonts START */
/* @font-face{
  font-family: demo;
  src:url(../fonts/Amatic.ttf);
} */

@font-face{
  font-family: Amatic;
  src:url(../fonts/Amatic.ttf);
}

@font-face{
  font-family: Quicksand;
  src:url(../fonts/Quicksand.ttf);
}

@font-face{
  font-family: Dosis;
  src:url(../fonts/Dosis.ttf);
}

@font-face{
  font-family: VarelaRound;
  src:url(../fonts/VarelaRound.ttf);
}
/***************** Fonts END */
