*{
  margin: 0px;padding: 0px;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;

  /* Remove Mobile Tap Highlight */
  -webkit-tap-highlight-color: transparent;

}



/* Remove Default Scroll Bar */
*{
  -ms-overflow-style: none;
  scrollbar-width: none;
}
*::-webkit-scrollbar{
  display: none;

}

/***************** Fonts START */
/* Demo */
/* @font-face{
  font-family: demo;
  src:url(../fonts/JosefinSans.ttf);
} */

/* Title */
@font-face{
  font-family: JosefinSans;
  src:url(/fonts/JosefinSans.ttf);
}

/* Former Title */
/* @font-face{
  font-family: Amatic;
  src:url(../fonts/Amatic.ttf);
} */

@font-face{
  font-family: Quicksand;
  src:url(/fonts/Quicksand.ttf);
}

@font-face{
  font-family: Dosis;
  src:url(/fonts/Dosis.ttf);
}

@font-face{
  font-family: VarelaRound;
  src:url(/fonts/VarelaRound.ttf);
}
/***************** Fonts END */
