@import "styles.css";

*{
  margin: 0px;padding: 0px;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;  

}


/* Remove Default Scroll Bar */
*{
  -ms-overflow-style: none;
  scrollbar-width: none;
}
*::-webkit-scrollbar{
  display: none;
}


html{
  /* scroll-behavior: smooth; */

}

/* Back To Works Anchor START */
.backToWorks{
  color: white;
  font-size: 3em;
  font-family: VarelaRound;
  text-transform: uppercase;
}

.backToWorks:hover{
  /* text-decoration: underline; */
}
/* Back To Works Anchor END */


/***************** Fonts START */
/* @font-face{
  font-family: demo;
  src:url(../fonts/Amatic.ttf);
} */

@font-face{
  font-family: Amatic;
  src:url(../fonts/Amatic.ttf);
}

@font-face{
  font-family: Quicksand;
  src:url(../fonts/Quicksand.ttf);
}

@font-face{
  font-family: Dosis;
  src:url(../fonts/Dosis.ttf);
}

@font-face{
  font-family: VarelaRound;
  src:url(../fonts/VarelaRound.ttf);
}
/***************** Fonts END */
