:root{
  --z-minus: -1;
  --z-body: 1;
  --z-main: 2;
  --z-menu-button: 3;
  --z-menu: 4;

  --color-highlight: red;
  --color-background: #2f3640;
  --color-middleground: rgba(70, 78, 87, 1);
  --color-foreground: rgba(91, 100, 110, 1);
  --color-font: #ffffff;

  --transition-velocity: 500ms;
  --fade-in-motion-range: 40px;
}


/* Remove Default Scroll Bar */
*{
  -ms-overflow-style: none;
  scrollbar-width: none;
}
*::-webkit-scrollbar{
  display: none;
}

/* Extra  START*/
.observerTarget{
  opacity: 0;

  transform-origin: center;
  transform: translateY(var(--fade-in-motion-range));

  transition: var(--transition-velocity) ease-in;
  transition-property: transform, opacity;

}
.fadeIn{
  opacity: 1;

  transform: translateY(0px);

}
.fadeOut{
  opacity: 0;

  transform: translateY(var(--fade-in-motion-range));

}


.movement{
  animation-name: movement;
  animation-duration: calc(var(--transition-velocity) * 20);
  animation-delay: var(--transition-velocity);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes movement {
  0%{transform: scale(1) translate(0%, 0%);}
  20%{transform: scale(1.03) translate(2%, 0%);}
  40%{transform: scale(1) translate(0%, 0%);}
  60%{transform: scale(1.03) translate(0%, 1%);}
  80%{transform: scale(1.01) translate(0%, 0%);}
  100%{transform: scale(1.02) translate(-1%, -0.5%);}
}
/* Extra  END*/


*{
  margin: 0px;padding: 0px;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;

}


html{
  scroll-behavior: smooth;

}


body{
  background-color: var(--color-background);

  color: var(--color-font);
  font-family: Quicksand;
  font-size:10px;

  height: auto;
  width: 100vw;
  padding: 5vh 0px;

  display: grid;
  place-items: center;

}


body > button{
  appearance: none;
  all: unset;

  background-color: rgba(0, 0, 0, 0.1);

  padding: 2px 12px;

  border-radius: 5px;

  position: fixed;
  top: 10px;
  right: -35px;
  z-index: var(--z-menu-button);

  transition: calc(var(--transition-velocity) / 4) ease-in;
  transition-property: right, background-color;
}
body > button:where(:hover, :focus){
  background-color: rgba(0, 0, 0, 0.5);

  right: 10px;

}

body > button > img{
  height: 60px;
  width: 60px;

}


body > menu{
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(20px);

  width: 100vw;
  height: 100vh;

  opacity: 0;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  padding: 20vh 0px;

  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: var(--z-menu);

  transition: calc(var(--transition-velocity) / 2) ease-in-out;
  transition-property: opacity;

}
body > menu.open{
  opacity: 1;
  pointer-events: all;

}


body > menu > a{
  color: var(--color-font);
  text-transform: uppercase;
  font-size: 3em;
  letter-spacing: 2px;

  transition: calc(var(--transition-velocity) / 4) ease-in;
  transition-property: color, letter-spacing;

}
body > menu > a:where(:hover, [active], :focus){
  color: var(--color-highlight);
  letter-spacing: 4px;

}

body > main{
  background-color: var(--color-middleground);

  width: 100vw;
  max-width: 1000px;
  height: auto;

  border-radius: 5px;
  box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.3);

}


body > main > div{
  width: 100%;
  height: auto;

  display: grid;
  grid-template-rows: auto 2fr auto;
  place-items: center;

}

body > main > div > header{
  font-family: Quicksand;
  font-size: 4em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;

  width: 100%;

  padding: 50px 0px;

}

body > main > div > main{
  height: 100%;
  width: 100%;
  padding: 20px;

}

/* body > main > div > footer{
  width: 100%;
  padding: 5px;

  text-align: right;

} */


/******************* Home START */
body > main > div#home > main{
  display: grid;
  place-items: center;
  grid-gap: 50px;
}
body > main > div#home > main > img{
  object-fit: cover;

  width: 300px;
  height: 300px;

  border-radius: 100%;
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.3);
}
body > main > div#home > main > p{
  font-size: 2em;
  text-align: center;
  letter-spacing: 2px;
  line-height: 2em;

  padding: 0px 20px;
}
/******************* Home END */

/******************* Questions START */
body > main > div#questions > main > p{
  font-family: VarelaRound;
  font-size: 1.5em;
  letter-spacing: 2px;
  text-align:justify;

  padding: 5px 10px;

}
body > main > div#questions > main > p:nth-child(odd){
  font-weight: bold;
}
body > main > div#questions > main > p:nth-child(even){
  margin-bottom: 20px;

}
/******************* Questions START */

/******************* Skill START */
body > main > div#skills > main{
  padding: 40px;
}

body > main > div#skills > main > span{
  font-size: 2em;
  font-family: VarelaRound;
}

body > main > div#skills > main > div{
  background-color: var(--color-foreground);

  width: 100%;
  height: 30px;
  margin-bottom: 30px;

  border-radius: 5px;
  box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.1);

}

body > main > div#skills > main > div > div{
  background: linear-gradient(90deg, rgba(31,109,159,1) 32%, rgba(0,255,38,1) 100%);

  width: 0%;
  height: 100%;

  border-radius: 5px;

  transition: 500ms width cubic-bezier(.84,-0.01,.73,1.01);

}

body > main > div#skills:where(:target) > main > div > div.cpp{
  width: 55%;
  transition-delay: 100ms;
}
body > main > div#skills:where(:target) > main > div > div.php{
  width: 70%;
  transition-delay: 200ms;
}
body > main > div#skills:where(:target) > main > div > div.python{
  width: 78%;
  transition-delay: 300ms;
}
body > main > div#skills:where(:target) > main > div > div.js{
  width: 75%;
  transition-delay: 400ms;
}
body > main > div#skills:where(:target) > main > div > div.html{
  width: 95%;
  transition-delay: 500ms;
}
body > main > div#skills:where(:target) > main > div > div.css{
  width: 90%;
  transition-delay: 600ms;
}
body > main > div#skills:where(:target) > main > div > div.sql{
  width: 82%;
  transition-delay: 700ms;
}
body > main > div#skills:where(:target) > main > div > div.linux{
  width: 60%;
  transition-delay: 800ms;
}
body > main > div#skills:where(:target) > main > div > div.ps{
  width: 73%;
  transition-delay: 900ms;
}
body > main > div#skills:where(:target) > main > div > div.pp{
  width: 62%;
  transition-delay: 1000ms;
}
/******************* Skill END */

/******************* History START */
body > main > div#history > main > p{
  font-family: Dosis;
  letter-spacing: 2px;
  font-size: 1.8em;
  text-align:justify;

  width: 100%;
  height: 100%;
  padding: 0px 20px;
}
/******************* History END */

/******************* Contact START */
body > main > div#connexion > main{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
body > main > div#connexion > main > a > img{
  width: 100px;
  height: 100px;

  transition: transform ease 250ms;

}
body > main > div#connexion > main > a > img:where(:hover, [active], :focus){
  transform: scale(1.2);
}

body > main > div#connexion > main > a > img.githubSvg:hover{
  filter: brightness(70%);
}
body > main > div#connexion > main > a > img.twitterSvg:hover{
  filter: invert(54%) sepia(35%) saturate(6676%) hue-rotate(166deg) brightness(103%) contrast(102%);
}
body > main > div#connexion > main > a > img.linkedinSvg:hover{
  filter: invert(25%) sepia(96%) saturate(1755%) hue-rotate(179deg) brightness(94%) contrast(89%);
}
body > main > div#connexion > main > a > img.redditSvg:hover{
  filter: invert(60%) sepia(72%) saturate(6304%) hue-rotate(0deg) brightness(99%) contrast(109%);
}
/******************* Contact END */

/******************************* Max Width 1000px START */
@media screen and (max-width: 1000px) {
  body{
    padding: 0px;
  }

  body > main{
    border-radius: 0px;
    box-shadow: none;
  }
}
/******************************* Max Width 1000px END */


/* Fonts START */
@font-face{
  font-family: demo;
  src:url(../fonts/Quicksand.ttf);
}


@font-face{
  font-family: Quicksand;
  src:url(../fonts/Quicksand.ttf);
}

@font-face{
  font-family: Dosis;
  src:url(../fonts/Dosis.ttf);
}

@font-face{
  font-family: VarelaRound;
  src:url(../fonts/VarelaRound.ttf);
}
/* Fonts END */
