@import "common.css";
@import "styles.css";

:root{
  --z-minus: -1;
  --z-body: 1;
  --z-background-image: 2;
  --z-background-image-cover: 3;
  --z-section: 4;
  --z-menu-button: 5;
  --z-menu: 6;

  --color-highlight: red;
  --color-background: rgba(44, 54, 57, 1);
  --color-middleground: rgba(70, 78, 87, 1);
  --color-foreground: rgba(91, 100, 110, 1);
  --color-font: #ffffff;
  --color-font-secondary: #cccccc;

  --transition-velocity: 500ms;
  --fade-in-motion-range: 40px;
  --motion-range: 100px;
  --animation-duration: 500ms;

  --radius: 5px;
  --padding: 10px;
}



/* Extra  START*/
/* .observerTarget{
  opacity: 0;

  transform-origin: center;
  transform: translateY(var(--fade-in-motion-range));

  transition: var(--transition-velocity) ease-in;
  transition-property: transform, opacity;

}
.fadeIn{
  opacity: 1;

  transform: translateY(0px);

}
.fadeOut{
  opacity: 0;

  transform: translateY(var(--fade-in-motion-range));

} */
/* Extra  END*/

body{
  background-color: var(--color-background);

  color: var(--color-font);
  font-family: Quicksand;
  font-size:10px;

  height: 100vh;
  width: 100vw;

  display: grid;
  place-items: center;
  overflow: hidden;
}

/* Background START */
body > background{
  width: 100vw;
  height: 100vh;

}
body > background::after{
  content: "";

  width: 100%;
  height: 100%;

  position: fixed;
  top: 0px;
  left: 0px;
  z-index: var(--z-background-image-cover);

  transition: var(--transition-velocity) ease-in-out;
  transition-property: background-color, backdrop-filter, box-shadow;

}
body > background.moreShown::after{
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);

  box-shadow:
    inset 0px 0px 200px 50px rgba(0, 0, 0, 0.8),
    inset 0px 0px 100px 10px rgba(0, 0, 0, 0.5),
    inset 0px 0px 500px 20px rgba(0, 0, 0, 0.3)
  ;
}
body > background > img{
  filter: brightness(70%);

  width: 100vw;
  height: 100vh;

  object-fit: cover;

  position: fixed;
  left: 0px;
  top: 0px;

  z-index: var(--z-background-image);

  transition: var(--transition-velocity) ease-in-out;
  transition-property: transform;
}
body > background > img.moreShown{
  transform: scale(1.2);

}
/* Background END */


/* Menu START */
body > button{
  appearance: none;
  all: unset;

  background-color: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(1px);

  padding: 2px 12px;

  border-radius: 5px;

  position: fixed;
  top: 10px;
  right: -35px;
  z-index: var(--z-menu-button);

  transition: calc(var(--transition-velocity) / 4) ease-in;
  transition-property: right, background-color, backdrop-filter;
}
body > button:where(:hover, :focus){
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);

  right: 10px;

}
body > button > img{
  height: 60px;
  width: 60px;

}

body > menu{
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(20px);

  width: 100vw;
  height: 100vh;

  opacity: 0;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  padding: 20vh 0px;

  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: var(--z-menu);

  transition: calc(var(--transition-velocity) / 2) ease-in-out;
  transition-property: opacity;

}
body > menu.show{
  opacity: 1;
  pointer-events: all;

}
body > menu > a{
  color: var(--color-font);
  text-transform: uppercase;
  font-size: 3em;
  letter-spacing: 2px;

  padding: var(--padding);

  transition: calc(var(--transition-velocity) / 4) ease-in;
  transition-property: color, letter-spacing;

}
body > menu > a:where(:hover, :focus, :active, [active]){
  color: var(--color-highlight);
  letter-spacing: 4px;

}
/* Menu END */

body > section{
  opacity: 0;
  overflow: hidden;
  display: grid;
  grid-template-rows: 20vh 60vh 20vh auto;
  place-items: center;

  width: 100vw;
  max-width: 1000px;
  height: 100vh;

  position: fixed;
  z-index: var(--z-minus);

}
body > section:target{
  opacity: 1;
  z-index: var(--z-section);
  animation: fadeIn calc(var(--animation-duration) / 2);

}
@keyframes fadeIn{
  0%{
    opacity: 0;
    transform: scale(0.95);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}
body > section:target.scrollable{
  overflow-y: scroll;

}
body > section > header{
  font-family: Amatic;

  font-size: 10em;
  text-align: left;
  letter-spacing: 5px;

  width: 80%;
  padding: 5vh 5vw;

}
body > section > main{
  height: 100%;
  width: 100%;
  padding: var(--padding);

}
body > section > main > img.themeImageRight{
  object-fit: cover;

  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.6);

  width: 60%;
  height: 80%;

  position: absolute;
  left: 80%;
  top: 70%;
  transform: translate(-70%, -70%);
  z-index: var(--z-minus);

}
body > section > main > img.themeImageCenter{
  object-fit: cover;

  box-shadow:
    0px 0px 20px 5px rgba(0, 0, 0, 0.6),
    0px 20px 80px -30px rgba(0, 0, 0, 1)
  ;

  width: 80%;
  height: 80%;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: var(--z-minus);

}
body > section > footer{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  place-items: center;

  padding: var(--padding);
  padding-left: 0px;
}
body > section > footer > p{
  width: 80%;

  font-size: 3em;
  text-align: left;
  letter-spacing: 2px;

  padding: 10px 10px;
}

body > section > footer > button,
body > section > more > footer > button{
  font-size: 2em;
  color: var(--color-font);

  background-color: var(--color-background);
  border: unset;

  width: auto;
  height: 2em;
  padding: 0px var(--padding);

  cursor: pointer;


}

body > section > more{
  display: none;

  width: 100%;
  padding: calc(var(--padding) * 4);

}
body > section > more.show{
  display: block;

}
body > section > more > main{
  font-size: 2em;
  letter-spacing: 4px;
  line-height: 2em;
  text-align: justify;

}
body > section > more > footer{
  width: 100%;
  padding: calc(var(--padding) * 2);

  display: flex;
  justify-content: center;

}


/******************* Home START */
body > section#home > main{
  display: grid;
  place-items: center;
  grid-gap: 50px;

}
body > section#home > main > img.me{
  object-fit: cover;

  width: 60vw;
  max-width: 300px;
  height: 60vw;
  max-height: 300px;
  margin-right: 20vw;

  border-radius: 100%;
  box-shadow:
    0px 10px 20px 5px rgba(0, 0, 0, 0.5),
    0px 20px 100px -10px rgba(0, 0, 0, 0.8),
    0px 30px 100px -10px rgba(0, 0, 0, 0.9)
  ;
}
/******************* Home END */

/******************* Questions START */
body > section#questions > more > main > p{
  font-family: VarelaRound;
  font-size: 1em;
  letter-spacing: 2px;
  text-align:justify;

  padding: 0px 10px;

}
body > section#questions > more > main > p:nth-child(odd){
  font-weight: bold;
}
body > section#questions > more > main > p:nth-child(even){
  margin-bottom: 30px;

}
/******************* Questions START */

/******************* Skill START */
/* Word Cloud START */
body > section#skills > main{
  display: grid;
  place-items: center;

}
body > section#skills > main > cloud{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;

  line-height: 5vh;

}
body > section#skills > main > cloud > span{
  display: block;
  cursor: default;
  user-select: none;

  position: relative;

}
/* Word Cloud END */
body > section#skills > more > main > span{
  font-size: 1.5em;
  font-family: VarelaRound;

}
/* Percentages START */
body > section#skills > more > main > span:nth-child(3n+2){
  color: var(--color-font-secondary);
  font-family: Quicksand;

}
/* Percentages END */
body > section#skills > more > main > div{
  background-color: var(--color-background);

  width: 100%;
  height: 30px;
  margin-bottom: 20px;
  margin-top: 5px;

  border-radius: 5px;
  box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.1);

}
body > section#skills > more > main > div > div{
  background: linear-gradient(90deg, rgba(31,109,159,1) 32%, rgba(0,255,38,1) 100%);

  width: 0%;
  height: 100%;

  border-radius: 5px;

  transition: 500ms width cubic-bezier(.84,-0.01,.73,1.01);

}
/******************* Skill END */

/******************* Works START */
body > section#works > main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3em;
}
body > section#works > main > a{
  font-size: 3em;
  color: var(--color-font-secondary);
  letter-spacing: 3px;
  font-family: Quicksand;

  transition: calc(var(--transition-velocity) / 2) ease;
  transition-property: letter-spacing, color;

}
body > section#works > main > a:hover{
  color: var(--color-font);
  letter-spacing: 5px;

}
/******************* Works END */

/******************* History START */
body > section#history > more{
  font-family: Dosis;

}
/******************* History END */

/******************* Contact START */
body > section#connexion > main{
  display: grid;
  place-items: center;
}
body > section#connexion > main > span{
  font-size: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;

  transition: calc(var(--transition-velocity) / 2) ease;
  transition-property: letter-spacing;

}
body > section#connexion > main > span > img{
  height: 2em;
  width: 2em;
  transition: calc(var(--transition-velocity) / 2) ease;
  transition-property: transform;
}
body > section#connexion > footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: var(--padding);

}
body > section#connexion > footer > a > img{
  width: 100px;
  height: 100px;

  transition: transform ease 250ms;

}
body > section#connexion > footer > a > img:where(:hover, :focus, :active){
  transform: scale(1.2);

}

body > section#connexion > footer > a > img.githubSvg:hover{
  filter: brightness(70%);
}
body > section#connexion > footer > a > img.twitterSvg:hover{
  filter: invert(54%) sepia(35%) saturate(6676%) hue-rotate(166deg) brightness(103%) contrast(102%);
}
body > section#connexion > footer > a > img.linkedinSvg:hover{
  filter: invert(25%) sepia(96%) saturate(1755%) hue-rotate(179deg) brightness(94%) contrast(89%);
}
body > section#connexion > footer > a > img.youTubeSvg{
  filter: brightness(1000%) grayscale(1);
}
body > section#connexion > footer > a > img.youTubeSvg:hover{
  filter: brightness(100%) grayscale(0);
}
/******************* Contact END */

/******************* Credits START */
body > section#credits > main{
  text-align: center;
  font-size: 1.5em;

}
body > section#credits > main > p{
  display: flex;
  gap: 10px;

  margin-bottom: 30px;

}
body > section#credits > main > p > a{
  color: var(--color-font-secondary);

}
body > section#credits > main > p > a:where(:hover, :focus, :active]){
  color: var(--color-font);
  text-decoration: underline;

}
/******************* Credits END */


/******************************* Max Width 1000px START */
@media screen and (max-width: 1000px) {

  body > background.moreShown::after{
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: none;

    box-shadow:
      inset 0px 0px 200px 50px rgba(0, 0, 0, 0.8),
      inset 0px 0px 100px 10px rgba(0, 0, 0, 0.5),
      inset 0px 0px 500px 20px rgba(0, 0, 0, 0.3)
    ;
  }

  body > menu{
    background-color: rgba(0, 0, 0, 0.8);

    backdrop-filter: none;

  }

  body > section{
    grid-template-rows: 15vh 50vh 35vh auto;

  }
  body > section > header{
    font-size: 6em;
    text-align: center;
    letter-spacing: 5px;

    width: 100%;
    padding: var(--padding);

  }
  body > section > main > img.themeImageRight{
    width: 70%;
    height: 60%;

    position: absolute;
    left: 80%;
    top: 40%;
    transform: translate(-80%, -40%);
    z-index: var(--z-minus);

  }
  body > section > main > img.themeImageCenter{
    width: 90%;
    height: 60%;
  }
  body > section > footer{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;

  }
  body > section > footer > p{
    font-size: 4vw;
    text-align: center;

  }
  body > section > more{
    padding: var(--padding);

  }
  body > section > more > main{
    font-size: 1.5em;
    letter-spacing: 4px;
    line-height: 2em;
    text-align: justify;

  }


  body > section#connexion > main > span{
    font-size: 2em;
  }
  body > section#connexion > footer > a > img{
    width: 50px;
    height: 50px;

    transition: transform ease 250ms;

  }

  body > section#credits > main > p{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    margin-bottom: 20px;

  }
}
/******************************* Max Width 1000px END */
