.movement{
  animation-name: movement;
  animation-duration: calc(var(--transition-velocity) * 20);
  animation-delay: var(--transition-velocity);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes movement {
  0%{transform: scale(1) translate(0%, 0%);}
  20%{transform: scale(1.04) translate(2%, 0%);}
  40%{transform: scale(1) translate(0%, 0%);}
  60%{transform: scale(1.03) translate(0%, 1%);}
  80%{transform: scale(1.01) translate(0%, 0%);}
  100%{transform: scale(1.05) translate(-1%, -0.5%);}
}
